@model IEnumerable<Day8Task1.Models.Course>

@{
    ViewData["Title"] = "Index";
}
<environment include="Production">

    <link href="\css\min\MyStyles.min.css" rel="stylesheet" />


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</environment>

<environment include="Development">
    <link href="\css\min\MyStyles.min.css" rel="stylesheet" />

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table" style="background-color:lavenderblush; color:blueviolet;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Topic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Grade)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Topic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</environment>